# Do not insert whitespace or special chars

MITM_PORT=8888
CHROME_DEBUG_PORT=9222

API_PORT=9999
API_HOST=127.0.0.1

# Set to true only to test the proxy server
FORCE_PROXY_ACTIVE=false

# PostgreSQL configuration
DB_USER=
DB_NAME=
DB_PASSWORD=
