# Do not insert whitespace or special chars

#########################
# Ports
#########################
MITM_PORT=8888
CHROME_DEBUG_PORT=9222
API_PORT=9999
API_HOST=127.0.0.1



#########################
# General config
#########################
FORCE_PROXY_ACTIVE=false # Set to true only to test the proxy server



#########################
# Page Agent configuration
#########################
API_KEY=
BASE_URL=
LLM_MODEL=


# Example of working curl

# curl -i \
#   'https://ragarenn.eskemm-numerique.fr/sso/ch@t/api/chat/completions' \
#   -H 'Content-Type: application/json' \
#   -H 'Authorization: Bearer [either JWT_TOKEN or API_KEY is fine]' \
#   -d '{
#         "model": "mistral-small-4-119b-reasoning",
#         "messages": [
#             {
#             "role": "user",
#             "content": "Why is the sky blue?"
#             }
#         ]
#     }'



#########################
# PostgreSQL configuration
#########################
DB_USER=
DB_NAME=
DB_PASSWORD=