# Logs
logs/

# Python cache
__pycache__/
**/__pycache__/
*.py[cod]

# Environment
.venv/
venv/

node_modules/
.env
playwright/screenshots/reference/*
playwright/screenshots/target/*

src/playwright/dist/*
src/playwright/node_modules/*
src/playwright/package-lock.json
package-lock.json

output/*
TODO.md